@import "../../styles/Globals/Globals.scss";

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em 10em;
    background-color: $color-blue-dark;
    border: solid 8px $color-blue-dark;
    gap: 5px;
    img {
        width: 100%;
    }
    article {
        background-color: $color-white;
        h2 {

        }
        p {

        }
    }
}